.grille4{
    display: grid;
    grid-template-columns: reapeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 450px;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    grid-template-areas: 
    "case1 case2"
    "case3 case4";

    .case1,.case2,.case3,.case4
    {
        border: 3px solid;
        box-shadow: 3px 3px 3px 3px #333;
        text-align: center;
        font-size: 20px;
    }

    .case1{
       grid-area: case1;
    }
    .case2{
        grid-area: case2;
    }

    .case3{
        grid-area: case3;
    }
    .case4{
       grid-area: case4;

    }
    .git{
        width: 150px;
    }

}

@media screen and (max-width:600px) {

   .grille4{
       grid-template-columns: 1fr;
       grid-template-rows: repeat(4, 1fr);
       grid-template-areas: 
       "case1"
       "case2"
       "case3"
       "case4";
   }

}