.cv {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "exp competence"
        "exp loisir";

    height: fit-content;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 105px;
    // left: 280px;
    border-radius: 5%;
    border: 3px solid;
    box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);

    .exp {
        grid-area: exp;
        font-size: 20px;
    }

    .competence {
        grid-area: competence;
        font-size: 20px;
        position: relative;
        left: 105px;
    }

    .loisir {
        grid-area: loisir;
        font-size: 20px;
        position: relative;
        left: 109px;
    }

    .date {
        padding: 35px 0 0 0;
        white-space: normal;
    }

    .c {
        padding: 2px 0 0 0;
        white-space: normal;
    }

    .l {
        padding: 2px 0 0 0;
        white-space: normal;
    }
}


@media screen and (max-width:600px) {
    .cv {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "exp "
            "competence"
            "loisir";
    }

}