.fond{
    background-image: url('/images/fond.jpg');

    .page{
        display: flex;
        flex-direction: column;
        border: 3px solid #333;
        width: 400px;
        height: 400px;
    }

    .contact{
        display: flex;
        padding: 55px 0 0 0;
        font-size: 20px;
    }
    
}